@import "tailwindcss";

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

textarea:focus {
    outline: none !important;
    box-shadow: none !important;
}

textarea::-webkit-scrollbar {
    width: 8px;
}

textarea::-webkit-scrollbar-track {
    background: #00000000;
    border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: #777; 
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);
}